/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#uploadBtn{
	-fx-background-color: #8550F7;
}
#uploadBtn:hover{
	-fx-background-color:  #8550F7B8;
}

#createplaylistBtn{
	-fx-background-color: #5C5C5C;
}
#createplaylistBtn:hover{
	-fx-background-color: #5C5C5CB8;
}
.playlistName{
	-fx-font-family: Cabin Condensed;
	-fx-font-size: 25px;
	-fx-font-style: normal;
	-fx-font-weight: 400;
	
}